In [1]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.layers import Dense, Dropout
from keras.callbacks import EarlyStopping,ModelCheckpoint

In [2]:
data_train=pd.read_csv('train_Calorie.csv')
data_test=pd.read_csv('test_Calorie.csv')

In [3]:
X=data_train.drop('Calories',axis=1)
X=X.drop('Sex',axis=1)
X=X.drop('id',axis=1)
y=data_train[['Calories']]

In [4]:
ss_x=StandardScaler()
ss_y=StandardScaler()

In [7]:
X_s=ss_x.fit_transform(X)
y_s=ss_y.fit_transform(y)

In [8]:
model=tf.keras.Sequential([
    tf.keras.layers.Input(shape=(6,)),

    Dense(128,activation='relu'),
    Dense(64,activation='relu'),
    Dense(32,activation='relu'),
    Dropout(0.2),
    Dense(1)
])

In [11]:
from keras.optimizers import Adam

In [12]:
model.compile(loss='MSE',optimizer=Adam(0.001))

In [17]:
model.fit(X_s,y_s,epochs=5,batch_size=64,validation_split=0.2)

Epoch 1/5
9375/9375 ━━━━━━━━━━━━━━━━━━━━ 24s 3ms/step - loss: 0.0229 - val_loss: 0.0048
Epoch 2/5
9375/9375 ━━━━━━━━━━━━━━━━━━━━ 24s 3ms/step - loss: 0.0228 - val_loss: 0.0067
Epoch 3/5
9375/9375 ━━━━━━━━━━━━━━━━━━━━ 41s 3ms/step - loss: 0.0226 - val_loss: 0.0048
Epoch 4/5
9375/9375 ━━━━━━━━━━━━━━━━━━━━ 41s 3ms/step - loss: 0.0229 - val_loss: 0.0048
Epoch 5/5
9375/9375 ━━━━━━━━━━━━━━━━━━━━ 41s 2ms/step - loss: 0.0226 - val_loss: 0.0046

In [18]:
data_test2=data_test.drop(['id','Sex'],axis=1)

In [19]:
data_test2

        Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0        45   177.0    81.0       7.0        87.0       39.8
1        26   200.0    97.0      20.0       101.0       40.5
2        29   188.0    85.0      16.0       102.0       40.4
3        39   172.0    73.0      20.0       107.0       40.6
4        30   173.0    67.0      16.0        94.0       40.5
...     ...     ...     ...       ...         ...        ...
249995   56   159.0    62.0       6.0        85.0       39.4
249996   32   202.0   101.0       3.0        84.0       38.4
249997   31   164.0    64.0      14.0        98.0       40.1
249998   62   158.0    61.0      25.0       106.0       40.7
249999   31   199.0    96.0      15.0        98.0       39.9

[250000 rows x 6 columns]

In [20]:
data_test2=ss_x.fit_transform(data_test2)

In [22]:
out_put=model.predict(data_test2)

7813/7813 ━━━━━━━━━━━━━━━━━━━━ 8s 975us/step

In [23]:
print(out_put)

[[-0.9653797 ]
 [ 0.35555992]
 [ 0.01113808]
 ...
 [-0.24778219]
 [ 1.2682229 ]
 [-0.1803064 ]]

In [28]:
out=ss_y.inverse_transform(out_put)

In [38]:
out=out.flatten()
output = pd.DataFrame({'id': data_test.id, 'Calories':out})
print(output)

            id    Calories
0       750000   28.047617
1       750001  110.468048
2       750002   88.977745
3       750003  127.470131
4       750004   75.154747
...        ...         ...
249995  999995   26.786898
249996  999996   11.337103
249997  999997   72.822334
249998  999998  167.413940
249999  999999   77.032509

[250000 rows x 2 columns]

In [40]:
output.to_csv('Calories_t.csv', index=False)
print("Your Calories was successfully saved!")

Your Calories was successfully saved!